<div class="sticky_footer container-flex">
  <% @chatrooms.each do |chatroom| %>
    <%= link_to chatroom_path(chatroom) do%>
      <div class=" pt-3 pb-1 chatroom-link px-3">
        <div class="d-flex justify-content-between">
          <% if chatroom.user_connected_id == current_or_guest_user.id %>
            <h5><%= User.find(chatroom.user_messaged_id).user_name%></h5>
          <% else %>
            <h5><%= User.find(chatroom.user_connected_id).user_name %></h5>
          <% end %>
          <% if !chatroom.messages.empty? %>
            <p><%= chatroom.messages.last.updated_at.strftime("%a, %d %b %Y") %></p>
          <% end %>
        </div>
        <% if !chatroom.messages.empty? %>
          <p><%= chatroom.messages.last.content %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
