<div class="card">
  <%= link_to event_path(event) do %>
    <div class = "card-img-top">
      <% if event.photo.attached? %>
        <img src="<%= event.photo.url %>" alt="">
      <% else %>
        <img src="https://www.pandotrip.com/wp-content/uploads/2015/10/Top-Graffiti-Stockholm-Photo-by-Alexander-Dragunov.jpg" alt="">
      <% end %>
    </div>
    <div class="card-body">
      <h4><%= event.date %></h4>
      <h6><%= event.location %></h6>
      <%= render partial: "partials/participation", locals: {my_event: event, my_participation: current_user.attended_events.include?(event) ? current_user.participations.find {|part| part.event == event} : Participation.new} %>
    </div>
  <% end %>
</div>
