<% if current_user.creations.empty? %>
  <div class="d-flex flex-column pt-5 justify-content-center no-creation-div">
    <h2 class="text-center">Please add creations before creating events</h2>
    <%= link_to "Add a Creation", new_creation_path, class: "btn btn-primary" %>
  </div>
<% else %>
  <div class="sticky_footer py-3">
    <h2>Add Event</h2>
    <%= simple_form_for(event) do |f| %>
      <%= f.input :title %>
      <%= f.input :location,
              input_html: { data: { geocoder_target: "location" }, class: "d-none" },
              wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] }, input_html: { class: 'form-control' } } %>
      <%= f.input :date, as: :date, html5: true %>
      <%= f.input :description %>
      <%= f.input :photo, as: :file %>
      <% collection = current_user.creations.map { |creation| [creation.id, cl_image_tag(creation.photos.first.key, class: "creation-image" ) ] } %>
      <%= f.input :creations, label: false, as: :check_boxes, collection: collection, label_method: :second, value_method: :first, include_hidden: false, input_html: { multiple: true, required: false } %>
      <%= f.submit class: "btn btn-custom" %>
    <% end %>
  </div>
<% end %>
