<div class="container sticky_footer  ">
  <h1 class= "py-2"><%= @event.title %></h1>
  <h4><i class="fas fa-map-marker-alt"></i> <%= @event.location %></h4>
  <div class="row">
    <div class="col-12 col-lg-8 showpage-image-container py-4">
      <img src="<%= @event.photo.url %>" class="rounded ">
    </div>
    <div class="col-12 col-lg-4 ">
      <h2>About this event</h2>
      <h5><i class="fas fa-calendar-check"> <%= @event.date %></i></h5>
      <p><%= @event.description %></p>
      <%= render partial: "partials/participation", locals: {my_event: @event, my_participation: current_user.attended_events.include?(@event) ? current_user.participations.find {|part| part.event == @event} : Participation.new} %>
    </div>
    <div class="col-12 col-lg-8 showpage-image-container py-4">
      <% @event.creations.each do |creation| %>
        <%= link_to creation_path(creation) do %>
          <%= cl_image_tag(creation.photos.first.key) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
