<div class=" sticky_footer py-3">
  <div class="container">
    <div class="d-flex justify-content-between pb-1 pt-2">
      <h2 >Events</h2>
      <%= link_to raw('<i class="fas fa-map"></i>'), map_path, {class:"btn btn-primary btn-map"} %>
    </div>
    <%= render :partial => 'partials/events-main', locals: { events: @events } %>
  </div>
  <%= render "layouts/categories" %>
  <div class="container">
    <div class="d-flex justify-content-between">
      <h2 class="pt-1 pb-1">Creations</h2>
      <h2 class="pt-1 pb-1"><%= @filter %></h2>
    </div>
    <% if @creations.empty? %>
      <h2 class="text-center my-3">Sorry, there are no creations yet</h2>
    <% else %>
      <div class="card-container-dashboard">
        <% @creations.each do |creation| %>
          <%= render :partial => 'partials/creation-card', locals: { creation: creation, user: @user } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
