<div class="categories-container container-fluid d-flex flex-nowrap horizontal-scroll-cat ">
  <% @categories.each_with_index do |cat, ind| %>
    <div class= "category-card ">
      <%= form_tag main_path, method: :get do %>
        <%= hidden_field_tag :query,
              cat
          %>
        <%= button_tag(type: "submit", class: "btn  d-flex") do %>
          <i class='<%= cat %> category-button me-2'></i>
          <p><strong><%= @cat_name[ind] %></strong> </p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
