<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "CreaTown", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if current_or_guest_user %>
          <li class="nav-item">
            <%= link_to "Add a creation", root_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add an event", root_path, class: "nav-link " %>
          </li>
          <li class="nav-item">
            <%= link_to "Creations and events", root_path, class: "nav-link " %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dashboard
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><%= link_to "My creations", root_path, class: "dropdown-item" %></li>
              <li><%= link_to "Liked creations", root_path, class: "dropdown-item" %></li>
              <li><%= link_to "My events", root_path, class: "dropdown-item" %></li>
              <li><%= link_to "Attended events", root_path, class: "dropdown-item" %></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              username <i class="fas fa-user-alt"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
              <li><a class="dropdown-item" href="#">Account</a></li>
              <li><a class="dropdown-item" href="#">Update profile</a></li>
              <li><%= link_to "Account", root_path, class: "dropdown-item" %></li>
              <li><%= link_to "Update profile", edit_user_registration_path, class: "dropdown-item" %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
