<!DOCTYPE html>
<html>
  <head>
    <title>CreaTown  - share your creations with people nearby</title>
    <meta name="title" content="CreaTown - share your creations with people nearby">
    <meta name="description" content="Build a community by sharing what you love with your neighbors">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="CreaTown - share your creations with people nearby" />
    <meta property="og:url" content="https://www.creatown.fun"/>
    <meta property="og:image" content="<%= asset_url("cover.png")%>" />
    <meta property="og:description" content="Build a community by sharing what you love with your neighbors.">
    <meta property="og:type" content="website" />
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
